* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

.container {
    max-width: 100%;
    padding-left: 355px;
    padding-right: 355px;
}

.header {
    display: flex;
    padding-top: 54px;
    padding-bottom: 154px;
    justify-content: center;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 339px;
}

.brand-link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.logo {
    width: 50px;
    height: 50px;
}

.brand-name {
    font-size: 38px;
    font-weight: normal;
    font-weight: 'DM Serif Display', 'sans-serif';
    line-height: 125%;
    color: #292F36;
}

.header-container-list {
    display: flex;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 31px;
    justify-content: center;
}

.header-li {
    font-size: 20px;
    font-weight: medium;
    line-height: 125%;
    list-style: none;
    font-family: 'Jost', 'sans-serif';
}

.header-list:hover {
    color: #b8844c
}

.header-list {
    text-decoration: none;
    color: #292F36;
}

.header-list-page {
    text-decoration: none;
    color: #b8844c;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-one-heading {
    font-family: 'Jost', 'sans-serif';
    max-width: 683px;
    font-size: 38px;
    font-weight: normal;
    color: #292F36;
    line-height: 150%;
    text-align: center;
    letter-spacing: 1%;
    padding-bottom: 96px;
}

.section-one-contact-info {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
    align-items: center
}

.section-one-contact-columns {
    display: flex;
    justify-content: space-between;
    gap: 152px;
}

.section-one-social-media-column {
    display: flex;
    gap: 35px;
}

.section-one-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.section-one-form-column {
    display: flex;
    justify-content: space-between;
    gap: 39px;
    padding-bottom: 50px;
    align-items: center;
}

.section-one-form-column-input {
    font-size: 30px;
    font-weight: normal;
    line-height: 150%;
    letter-spacing: 1%;
    font-family: 'Jost', 'sans-serif';
    color: #4D5053;
    border: none;
    width: 262px;
    border-bottom: 1px solid #555;
    background: transparent;
    padding: 10px 0;
    font-size: 18px;
    outline: none;
}

.section-one-form-column-input-message {
    font-size: 30px;
    font-weight: normal;
    line-height: 150%;
    letter-spacing: 1%;
    font-family: 'Jost', 'sans-serif';
    color: #4D5053;
    border: none;
    width: 563px;
    border-bottom: 1px solid #555;
    background: transparent;
    padding: 10px 0;
    font-size: 18px;
    outline: none;
    margin-bottom: 51px;
}

.section-one-form-column-message {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-one-result-column-btn {
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 41px;
    padding-right: 41px;
    border-radius: 18px;
    align-items: center;
    border: none;
    background-color: #292F36;
    color: #FFFFFF;
}

.section-one-result-column-btn:hover {
    background-color: #474646;
}

.section-one-img {
    margin-left: 14px;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 15px;
    padding-top: 141px;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    padding-bottom: 138px;
    gap: 101px;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-column-paragraph {
    font-family: 'Jost', 'sans-serif';
    font-size: 20px;
    font-weight: normal;
    color: #4D5053;
    max-width: 393px;
    margin-bottom: 31px;
    line-height: 150%;
    letter-spacing: 1%;
}

.footer-icons-div {
    display: flex;
    gap: 54px;
    align-items: center;
}

.footer-second-column {
    display: flex;
    justify-content: space-between;
}

.footer-column-h2 {
    font-family: 'DM Serif Display', 'sans-serif';
    font-size: 25px;
    font-weight: normal;
    color: #292F36;
    margin-bottom: 15px;
    line-height: 125%;
    letter-spacing: 0%;
}

.footer-column-p {
    font-family: 'Jost', 'sans-serif';
    font-size: 19px;
    font-weight: normal;
    color: #4D5053;
    line-height: 300%;
    letter-spacing: 1%;
}

.footer-column-p:hover {
    color: #b8844c
}

.footer-column-p-adress {
    font-family: 'Jost', 'sans-serif';
    max-width: 258px;
    font-size: 19px;
    font-weight: normal;
    color: #4D5053;
    line-height: 300%;
    letter-spacing: 1%;
}

.footer-column-p-adress:hover {
    color: #b8844c
}


.footer-paragraph {
    font-family: 'Jost', 'sans-serif';
    font-size: 22px;
    font-weight: normal;
    color: #4D5053;
    line-height: 150%;
    letter-spacing: 1%;
}